<!DOCTYPE html>
<html>
<head>
<meta name="description" content="[Search for keyword on facebook]" />
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<meta charset=utf-8 />
<title>Nework Graph</title>
	<script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
	<script type="text/javascript">
		var newdata = {{ content|safe }};
		$(function(){ // on dom ready

		$('#cy').cytoscape({
		  layout: {
		  	    name: 'cose',
			    ready               : function() {},
			    stop                : function() {},
			    refresh             : 0,
			    fit                 : true, 
			    padding             : 30, 
			    randomize           : true,
			    debug               : false,
			    nodeRepulsion       : 100000,
			    nodeOverlap         : 10,
			    idealEdgeLength     : 10,
			    edgeElasticity      : 100,
			    nestingFactor       : 5, 
			    gravity             : 250, 
			    numIter             : 100,
			    initialTemp         : 200,
			    coolingFactor       : 0.95, 
			    minTemp             : 1
		  },	
		  style: cytoscape.stylesheet()
		    .selector('node')
		      .css({
		        'content': 'data(name)',
		        'text-valign': 'center',
		        'color': 'white',
		        'font-size': 'data(size)',
		        'width':'data(gweight)',
		        'height':'data(gheight)',
		        'text-outline-width': 1,
		        'text-outline-color': '#888',
		        'background-color': 'data(faveColor)',
		        'text-outline-color': 'data(mColor)',
		      })
		    .selector('edge')
		      .css({
		        'target-arrow-shape': 'triangle',
		        'control-point-weight': 0.01,
		        'curve-style':'haystack',
		        'width':0.3,
		        'line-color': 'data(mColor)'
		      })
		    .selector(':selected')
		      .css({
		        'background-color': 'red',
		        'line-color': 'blue',
		        'target-arrow-color': 'blue',
		        'source-arrow-color': 'blue'
		      })
		    .selector('.faded')
		      .css({
		        'opacity': 0.25,
		        'text-opacity': 0
		      }),

		    elements: [],

		  ready: function(){
		    window.cy = this;
		    
		    cy.load(newdata);
		    cy.elements().selectify();
		    
		    cy.on('tap', 'node', function(e){
		      var node = e.cyTarget; 
		      var neighborhood = node.neighborhood().add(node);
		      
		      cy.elements().addClass('faded');
		      neighborhood.removeClass('faded');
		    });
		    
		    cy.on('tap', function(e){
		      if( e.cyTarget === cy ){
		        cy.elements().removeClass('faded');
		      }
		    });
		  }
		});

		}); // on dom ready
	</script>
	
</head>
<body>
<div id="cy">
</div>
</body>
</html>